OWNER_NAME=DYBY-TRUE
PREFIX=.
PUBLIC_MODE=no
AUTO_READ_STATUS=yes
AUTO_DOWNLOAD_STATUS=yes
BOT_NAME=SPEED-MD
IMAGE_MENU= "https://img.freepik.com/photos-premium/dessin-eclair-mot-foudre-dessus_779834-2033.jpg"
NUMERO_OWNER=50934960331
DATABASE_URL=
WARN_COUNT= "4"
STARTING_BOT_MESSAGE=yes
PM_CHATBOT=no
SESSION_ID='eyy'
ANTI_VIEW_ONCE="yes"
